@import "tailwindcss";

/* body {
  background-image: url('./assets/pictures/top-view-desk-dark-concept-with-copy-space.jpg');
  background-size: cover;        
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;   
} */
